body{
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    background-color: whitesmoke;
    color: #282828;
}

ul{
    background-color: #282828;
    color: whitesmoke;
    list-style-type: none;
    margin-top: 0;
    display: flex;
    padding: 25px;
}

.logo{
    font-size: 18px;
    font-weight: 700;
    margin: auto 0;
}

.icon{
    width: 25px;
    margin: 0 10px;
}

h1{
    font-size: 40px;
    font-weight: 400;
    margin: 25px 30px;
}

