body{
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    background-color: whitesmoke;
    color: #282828;
}

ul{
    background-color: #282828;
    color: whitesmoke;
    list-style-type: none;
    margin-top: 0;
    display: flex;
    padding: 25px;
    gap: 10px;      /* makes gap of inside container*/
}

li{
    cursor: pointer; /* gives the cursor a pointer look  */
}

.logo{
    font-size: 18px;
    font-weight: 700;
    margin: auto 0;
}

.icon{
    width: 25px;
}

h1{
    font-size: 40px;
    font-weight: 400;
    margin: 25px 30px;
}

.caption{
    margin: 0 25px;
}

.item-img{
    width: 100%;
}
